/* DONT DELETE THIS */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* WRITE YOUR CODE BELOW */

:root {
  --margin-header-side: 2rem;
  --height-header-bar: 6.5rem;
  --height-search-box-area: 3rem;
  --color-lightgray: lightgray;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-bar {
  background-color: #ffce33;
  width: 100vw;
  height: var(--height-header-bar);
  position: fixed;
}

.header-bar__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.header-bar__contents span {
  font-size: 1.5rem;
}

.header-bar span:first-child {
  margin-left: var(--margin-header-side);
}

.header-bar span:nth-child(2) {
  font-weight: 600;
}

.header-bar span:last-child {
  margin-right: var(--margin-header-side);
}

.search-box-area {
  width: 90%;
  height: var(--height-search-box-area);
  position: fixed;
  top: 5rem;
  border-radius: 3rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  box-shadow: 0 0.2rem 0.5rem -0.2rem gray;
}

.search-box {
  border: none;
  width: 95%;
  height: 100%;
}

.search-box:focus-visible {
  outline: none;
}

.search-box::placeholder {
  color: var(--color-lightgray);
  font-size: 1.1rem;
}

.material-symbols-outlined-shopping_basket {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.font-color-lightgray {
  color: var(--color-lightgray);
}

.font-color-yellow {
  color: #ffce33;
}

main {
  margin-top: calc(
    var(--height-header-bar) + (var(--height-search-box-area) / 2) + 2rem
  );
  margin-left: 1.5rem;
}

.content {
  margin-top: 2rem;
}

.title-0 {
  font-size: 2rem;
  font-weight: 600;
}

.content > div {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  height: 25vh;
}

main div:nth-child(1) img,
main div:nth-child(3) img {
  width: auto;
  height: 100%;
  border-radius: 1rem;
}

.content:nth-child(1) .sub-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}

.content:nth-child(1) .sub-content div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.content:nth-child(1) .sub-content div:nth-child(1) span:nth-child(2) {
  margin: 0.3rem 0rem;
  font-size: 1.6rem;
}

.fill-icon {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.content:nth-child(1) .sub-content__tag {
  display: flex;
  align-items: center;
}

.content:nth-child(1) .sub-content__tag div {
  background-color: #f7f7f7;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}

.content:nth-child(1) .sub-content__buttons {
  display: flex;
  align-items: center;
}

.content:nth-child(1) .sub-content__bookmark {
  background-color: #ffce33;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content:nth-child(1) .sub-content__book-now {
  background-color: black;
  color: white;
  width: 8rem;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  margin-left: 3rem;
}

.content:nth-child(2) img {
  width: 6.8rem;
  height: auto;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.stars span {
  font-size: 1rem;
}

.content:nth-child(2) .sub-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3rem;
}

.article {
  margin-left: 2rem;
}

.content:nth-child(3) .sub-content {
  display: flex;
  align-items: normal;
}

.article .title-0 {
  margin-bottom: 1rem;
}

.article div:nth-child(2) {
  font-size: 1.3rem;
}

.content:nth-child(2) .sub-contents {
  overflow-x: auto;
}
