/* DONT DELETE THIS */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* WRITE YOUR CODE BELOW */

:root {
  --margin-header-side: 20px;
  --height-header-bar: 100px;
  --height-search-box-area: 50px;
  --color-lightgray: lightgray;
}

body {
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-bar {
  background-color: #ffce33;
  width: 100vw;
  height: var(--height-header-bar);
  position: fixed;
}

.header-bar__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.header-bar__contents span {
  font-size: 24px;
}

.header-bar span:first-child {
  margin-left: var(--margin-header-side);
}

.header-bar span:nth-child(2) {
  font-weight: 600;
}

.header-bar span:last-child {
  margin-right: var(--margin-header-side);
}

.search-box-area {
  width: 90%;
  height: var(--height-search-box-area);
  position: fixed;
  top: 76px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  box-shadow: 0 3px 5px -2px gray;
}

.search-box {
  border: none;
  width: 95%;
  height: 100%;
}

.search-box:focus-visible {
  outline: none;
}

.search-box::placeholder {
  color: var(--color-lightgray);
  font-size: 16px;
}

.material-symbols-outlined-shopping_basket {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.font-color-lightgray {
  color: var(--color-lightgray);
}

main {
  margin-top: calc(
    var(--height-header-bar) + (var(--height-search-box-area) / 2) + 30px
  );
  margin-left: 20px;
}
