/* DONT DELETE THIS */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* WRITE YOUR CODE BELOW */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #00c6ad;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body * {
  font-family: Roboto;
}

body > div:first-child {
  background-color: white;
  width: 98%;
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* region category */
.category {
  width: 90%;
  height: 10%;
  display: flex;
  align-items: center;
}

.category * {
  width: 33%;
}

.category button {
  background: none;
  cursor: pointer;
}

.material-symbols-outlined {
  font-size: 250%;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  display: flex;
  justify-content: flex-start;
}

.category label {
  font-size: 200%;
  font-weight: bold;
  text-align: center;
}
/* endregion category */

/* region music-info */
.music-info {
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
}

.music-info__image {
  width: 120px;
  height: 120px;
  background-color: #ffbd11;
  margin-left: 9px;
  margin-right: 15px;
  border-radius: 20%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-info__image span {
  color: white;
  font-size: 350%;
}

.music-info__title-singer {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.music-info__title {
  font-weight: bold;
  font-size: 250%;
  margin-bottom: 5px;
}

.music-info__singer {
  font-weight: bold;
}
/* endregion music-info */

/* region buttons */
.buttons {
  width: 90%;
  height: 15%;
  display: flex;
  align-items: center;
}

.buttons button {
  margin: 0px 20px;
  border: 3px solid black;
  border-width: 3px 3px 6px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button:nth-child(1) {
  width: 50%;
  height: 50%;
  border-radius: 10px;
  font-weight: bold;
}

.buttons button:nth-child(2) {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.buttons button:nth-child(3) {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
/* endregion buttons */

/* region music-list */
.music-list {
  width: 90%;
  height: 50%;
}

.music-info-small div:first-child {
  width: 40px;
  height: 40px;
}

.music-list div:nth-child(1) div:nth-child(1) {
  background-color: #f85a2a;
}

.music-list div:nth-child(2) div:nth-child(1) {
  background-color: #ff89bb;
}

.music-list div:nth-child(3) div:nth-child(1) {
  background-color: #1947e5;
}

.music-list div:nth-child(4) div:nth-child(1) {
  background-color: #00c6ad;
}

.music-info-small div:nth-child(2) label:nth-child(1) {
  font-size: 30px;
}

.music-info-small div:nth-child(2) label:nth-child(2) {
  font-size: 15px;
  color: #5e626c;
  font-weight: normal;
}
/* endregion music-list */
