.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  margin-top: 20px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__material-symbols-outlined {
  font-size: 28px;
}

.screen-header__icons span {
  margin-left: 25px;
}

@keyframes rotateSetting {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons span:last-child:hover {
  animation: rotateSetting 2s linear infinite;
}
